# 2015 Vornamen

## [Offenes Datenportal Moers](https://www.offenesdatenportal.de/organization/moers)

Suchen nach: 'Vornamen 2015'
Hier kann man Datensatz herunterladen oder URL für Datensatz finden

## Pakete installieren

In [9]:
import pandas as pd
import re
import matplotlib.pyplot as plt
import numpy as np
import pylab as pl
%matplotlib inline

CSV einlesen

In [10]:
namen = pd.read_csv('vornamen2015.csv')
namen

     ﻿anzahl;vorname;geschlecht
0                   48;Sophie;w
1                    46;Marie;w
2                      29;Mia;w
3                    24;Elias;m
4                22;Charlotte;w
5                      21;Ben;m
6                20;Alexander;m
7                     19;Paul;m
8                     19;Lina;w
9                    18;Jonas;m
10                  18;Amelie;w
11                    18;Emma;w
12                  18;Sophia;w
13                    17;Leon;m
14              16;Maximilian;m
15                    15;Mats;m
16                 15;Johanna;w
17                   14;Felix;m
18                    14;Luis;m
19                  14;Emilia;w
20                     14;Lea;w
21                    14;Lena;w
22                    14;Mila;w
23                    13;Noah;m
24                    12;Luca;m
25                   12;Maria;w
26                     11;Jan;m
27                  11;Niklas;m
28                    11;Anna;w
29                  10;Moritz;m
...                         ...
1258                   1;Umut;m
1259                    1;Urs;m
1260              1;Valentino;m
1261                  1;Veith;m
1262                 1;Victor;m
1263                   1;Vigo;m
1264                1;Vincent;m
1265               1;Vincenzo;m
1266                 1;Walter;m
1267                   1;Wang;m
1268                 1;Wiktor;m
1269                  1;Wilke;m
1270                1;William;m
1271                  1;Xaver;m
1272                  1;Yakup;m
1273                   1;Yano;m
1274                  1;Yasin;m
1275                 1;Yassir;m
1276                  1;Yavuz;m
1277                  1;Yağız;m
1278         1;Youssef-Khalil;m
1279             1;Yunus-Emre;m
1280                   1;Zain;m
1281                1;Zakaria;m
1282                    1;Zan;m
1283              1;Zineddine;m
1284                 1;Zübeyr;m
1285                1;Étienne;m
1286                  1;Şeran;m
1287                1;Şeyhmus;m

[1288 rows x 1 columns]

In [31]:
# CSV einlesen und bestimmen, was das Trennzeichen ist: sep='' 
namen = pd.read_csv('vornamen2015.csv', sep=';')
namen.head()

   ﻿anzahl    vorname geschlecht
0       48     Sophie          w
1       46      Marie          w
2       29        Mia          w
3       24      Elias          m
4       22  Charlotte          w

In [32]:
g = 'https://www.offenesdatenportal.de/dataset/a7056a8a-ea10-41fd-afb2-62d022aec517/resource/561ba1f8-0575-4a50-957b-3a0f3a070284/download/vornamen2015.csv'
df = pd.read_csv(g, sep=';')
df.head(2)

   ﻿anzahl vorname geschlecht
0       48  Sophie          w
1       46   Marie          w

In [33]:
len(df)

1288

In [34]:
df['jahr'] = 2015

In [35]:
df.head()

   ﻿anzahl    vorname geschlecht  jahr
0       48     Sophie          w  2015
1       46      Marie          w  2015
2       29        Mia          w  2015
3       24      Elias          m  2015
4       22  Charlotte          w  2015

In [49]:
# Welche Namen wurden 2015 am häufigsten vergeben? 
top = df.sort_values(by='anzahl', ascending=True)
top.head(6)

     anzahl      vorname geschlecht  jahr
643       1       Estere          w  2015
862       1       Johnny          m  2015
861       1       Leonor          w  2015
860       1          Joe          m  2015
859       1  Leona-Paula          w  2015
858       1         Joan          m  2015

In [42]:
df.columns

Index(['﻿anzahl', 'vorname', 'geschlecht', 'jahr'], dtype='object')

In [44]:
df.columns = ['anzahl', 'vorname', 'geschlecht', 'jahr']
df.head()

   anzahl    vorname geschlecht  jahr
0      48     Sophie          w  2015
1      46      Marie          w  2015
2      29        Mia          w  2015
3      24      Elias          m  2015
4      22  Charlotte          w  2015

In [51]:
# Top 30 der männlichen Vornamen
m_top30 = df[(df['geschlecht'] == 'm')].head(30)
m_top30.head(6)

    anzahl    vorname geschlecht  jahr
3       24      Elias          m  2015
5       21        Ben          m  2015
6       20  Alexander          m  2015
7       19       Paul          m  2015
9       18      Jonas          m  2015
13      17       Leon          m  2015

## Aufgabe
__Sortiere df nach 'vorname' - A-Z und Z-A__

In [52]:
df.sort_values(by='vorname', ascending=True)

      anzahl      vorname geschlecht  jahr
154        3        Aaron          m  2015
407        1         Abby          w  2015
426        1        Abdul          m  2015
156        3     Abdullah          m  2015
240        2  Abdurrahman          m  2015
428        1         Abel          m  2015
430        1        Abeto          m  2015
408        1      Abigail          w  2015
432        1        Above          m  2015
409        1       Acelya          w  2015
410        1     Achsutha          w  2015
227        2          Ada          w  2015
434        1     Adalbert          m  2015
436        1         Adam          m  2015
438        1         Adar          m  2015
242        2        Adian          m  2015
440        1         Adin          m  2015
442        1        Adnan          m  2015
71         6       Adrian          m  2015
411        1      Adriana          w  2015
444        1      Adriano          m  2015
412        1      Agelina          w  2015
446        1        Ahmed          m  2015
448        1        Ahmet          m  2015
413        1       Ajlina          w  2015
414        1      Ajlisha          w  2015
244        2         Akın          m  2015
452        1     Al-Mahdi          m  2015
454        1          Ala          m  2015
415        1        Alani          w  2015
...      ...          ...        ...   ...
1281       1      Zakaria          m  2015
1229       1      Zakaria          w  2015
1282       1          Zan          m  2015
383        2         Zara          w  2015
1231       1    Zara-Liya          w  2015
1233       1    Zdzisława          w  2015
107        5        Zehra          w  2015
55         7       Zeynep          w  2015
385        2        Zilan          w  2015
1283       1    Zineddine          m  2015
151        4          Zoe          w  2015
1235       1   Zoe-Joleen          w  2015
1237       1   Zoe-Sophie          w  2015
1239       1         Zoey          w  2015
1241       1  Zoey-Talina          w  2015
1243       1        Zofia          w  2015
1245       1          Zoé          w  2015
1284       1       Zübeyr          m  2015
450        1           al          m  2015
666        1           el          m  2015
1059       1         oğlu          w  2015
1285       1      Étienne          m  2015
115        5         Ömer          m  2015
792        1      İbrahim          m  2015
1286       1        Şeran          m  2015
1287       1      Şeyhmus          m  2015
1247       1     Şeymanur          w  2015
1249       1        Şirin          w  2015
1251       1         Şura          w  2015
406        1          NaN          w  2015

[1288 rows x 4 columns]

In [ ]:
# Länge des Namens an Position 5 im df
len(df['vorname'][5])

In [ ]:
# Den eigenen Namen suchen 
name = input('Bitte gib deinen Namen ein: ')
Mein_Name = df[(df['vorname'] == name)]
Mein_Name

In [ ]:
w_top30['rang'] = w_top30['anzahl'].rank(ascending=False, method='first')
w_top30.head(2)

In [ ]:
# Top 30 der männlichen Vornamen
m_top30 = df[(df['geschlecht'] == 'm')].head(30)
m_top30.head(2)

In [ ]:
m_top30['rang'] = m_top30['anzahl'].rank(ascending=False, method='first')
m_top30.head(2)

In [ ]:
# Weiblich und männlich zu einem zusammen setzen
result = pd.merge(w_top30, m_top30, how='outer')

In [ ]:
vn_2014_m = result.sort_values(by='anzahl', ascending=False)
vn_2014_m['stadt'] = 'Moers' 
vn_2014_m.head(2)

In [ ]:
h = 'Vornamensstatistik_2014_koeln.csv'
koelle = pd.read_csv(h, sep=';')
koelle.head(2)

In [ ]:
koelle['jahr'] = '2014'

In [ ]:
koelle['stadt'] = 'Köln'

In [ ]:
# Top 30 der weiblichen Vornamen
k_w_top30 = koelle[(koelle['geschlecht'] == 'w')].head(30)
k_w_top30.head(2)

In [ ]:
k_w_top30['rang'] = k_w_top30['anzahl'].rank(ascending=False, method='first')
k_w_top30.head(2)

In [ ]:
# Top 30 der männlichen Vornamen
k_m_top30 = koelle[(koelle['geschlecht'] == 'm')].head(30)
k_m_top30.head(2)

In [ ]:
k_m_top30['rang'] = k_m_top30['anzahl'].rank(ascending=False, method='first')
k_m_top30.head(2)

In [ ]:
# Köln zu einem zusammen setzen
koelle = pd.merge(k_w_top30, k_m_top30, how='outer')
koelle.head(2)

In [ ]:
koelle = koelle.sort_values(by='anzahl', ascending=False)
koelle.head(2)

In [ ]:
# Köln und Moers zusammen setzen
staedte = pd.merge(koelle, vn_2014_m, how='outer')
staedte.head()

In [ ]:
summe_moers = df['anzahl'].sum()
summe_moers

In [ ]:
summe_koeln = koelle['anzahl'].sum()
summe_koeln

In [ ]:
my_plot = k_w_top30['anzahl'].plot(kind='bar')

In [ ]:
k_w_top30.index = k_w_top30['vorname']

In [ ]:
k_w_top30

In [ ]:
my_plot = k_w_top30['anzahl'].plot(kind='bar')

In [ ]:
plot = staedte[staedte['geschlecht'] == 'w']

plot.index = plot['vorname']
my_plot = plot['anzahl'].plot(kind='bar')

In [ ]:
plot1 = staedte[staedte['geschlecht'] == 'w'].head(30)
plot1.index = plot1['vorname']
plot1

In [ ]:
my_plot1 = plot1['anzahl']
my_plot1

In [ ]:
my_plot1 = plot1['anzahl'].hist(bins=50)