In [ ]:
import pandas as pd
import re
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
import pylab as pl
%matplotlib inline
from bokeh.plotting import figure, show
from bokeh.io import output_notebook

from ggplot import *

# Moerser Daten: Vornamen

* 2009: [https://www.offenesdatenportal.de/dataset/33cdd3f6-52bf-41c3-b03f-30e19631f66a/resource/9b0920c9-d593-4abc-88b2-5b1bb1a63ce2/download/vornamen2009.csv]
* 2010: [https://www.offenesdatenportal.de/dataset/4e1cd32f-5788-40d1-834b-284fdf89371b/resource/f0c646ad-c4c8-4aff-9276-f12f0d6ad78c/download/vornamen2010.csv]
* 2011: [https://www.offenesdatenportal.de/dataset/185165d7-a35a-484a-8401-9e4a1ab6033d/resource/888edbfd-605c-461f-961c-72be4d281a00/download/vornamen2011.csv]
* 2012: [https://www.offenesdatenportal.de/dataset/e09b6922-8873-4930-851a-eb6634be50db/resource/00a00f02-3ede-4512-b4b2-d076f7a2cf67/download/vornamen2012.csv]
* 2013: [https://www.offenesdatenportal.de/dataset/45c78ab3-fd45-4dbc-bda5-2dddc6b71ca3/resource/6e1aabc2-0490-4605-8667-0a8b8a28702a/download/vornamen2013.csv]
* 2014: [https://www.offenesdatenportal.de/dataset/e5ff322f-a8b7-4dc7-b281-2d3d767983f9/resource/4da3d423-9aeb-4e6e-8dbc-926649089416/download/vornamen14.csv]
* 2015: [https://www.offenesdatenportal.de/dataset/a7056a8a-ea10-41fd-afb2-62d022aec517/resource/561ba1f8-0575-4a50-957b-3a0f3a070284/download/vornamen2015.csv]

Zu den Daten: 
* 2015 / 2014 = andere Sortierung: Nur vorname;anzahl;geschlecht
* Vor 2014 im Kopf Zusatzinfo: Wie oft wurden 1,2, mehr als drei Namen vergeben: Wichtig, aber bitte nicht in Daten reinschreiben. 
* Daten davor: Rang;Mädchen;Anzahl;Knaben;Anzahl = verschachtelte Datenstruktur, 'schlauere Tabelle', als Pressemitteilung zum abdrucken besser, aber weniger gut für Maschinenlesbarkeit: Da gilt: Bitte alles und bitte möglichst 'dumm' = so einfach wie möglich 
* Enthatlten nur Top 30 Namen
* Dazu Problem ä = Umlaut - Iso encodiert
* 2010 dazu Problem, dass hinter jeder Zeile zusätzliche ; sind und außerdem Leerzeichen, die nix zu suchen haben (Vor allem im Kopf ärgerlich)

In [ ]:
f = 'vornamen2013.csv'
df = pd.read_csv(f, sep=';', encoding='ISO-8859-1')
df.head(10)

# Daten zusammenführen

## 2009 - 2013

In [ ]:
years = range(2009,2014)

pieces = []
columns = ['rang', 'vorname', 'anzahl', 'knaben', 'k_anzahl']

for year in years:
    path = 'vornamen%d.csv' % year
    frame = pd.read_csv(path, names=columns, sep=';', encoding='ISO-8859-1', skiprows=1)
    frame['jahr'] = year
    pieces.append(frame)
    
# Concatenate in one single DF
names = pd.concat(pieces, ignore_index=True)

In [ ]:
names.shape

In [ ]:
names.tail()

In [ ]:
# Erstmal nur die Spalten für Mädchen
maedchen = names[['rang', 'vorname', 'anzahl', 'jahr']]
maedchen.tail()

In [ ]:
# Spalte 'geschlecht' hinzufügen
maedchen['geschlecht'] = 'w'
maedchen.tail()

In [ ]:
maedchen.shape

In [ ]:
maedchen.head(1)

In [ ]:
jungs = names[['rang', 'knaben', 'k_anzahl', 'jahr']]

In [ ]:
jungs.head(1)

In [ ]:
jungs.columns = ['rang', 'vorname', 'anzahl', 'jahr']

In [ ]:
jungs['geschlecht'] = 'm'

In [ ]:
jungs.head(1)

In [ ]:
maedchen.shape

In [ ]:
jungs.shape

## 2014

In [ ]:
# 2014 einlesen
g = 'https://www.offenesdatenportal.de/dataset/e5ff322f-a8b7-4dc7-b281-2d3d767983f9/resource/4da3d423-9aeb-4e6e-8dbc-926649089416/download/vornamen14.csv'
df_14 = pd.read_csv(g, sep=';')
df_14.head(2)

In [ ]:
# Spalte 2014 erzeugen 
df_14['jahr'] = 2014
df_14.head()

In [ ]:
df_14.columns

In [ ]:
# Top 30 der weiblichen Vornamen
w_top30_14 = df_14[(df_14['geschlecht'] == 'w')].head(30)
w_top30_14.head(6)

In [ ]:
# Spalte Rang hinzufügen 
w_top30_14['rang'] = w_top30_14['anzahl'].rank(ascending=False, method='first')
w_top30_14.head(2)

In [ ]:
# Top 30 der männlichen Vornamen
m_top30_14 = df_14[(df_14['geschlecht'] == 'm')].head(30)
m_top30_14.head(2)

In [ ]:
# Spalte 'Rang' hinzufügen 
m_top30_14['rang'] = m_top30_14['anzahl'].rank(ascending=False, method='first')
m_top30_14.head(2)

In [ ]:
m_top30_14.dtypes

In [ ]:
# Datentyp von Rang auf int setzen - sieht schöner aus  
m_top30_14['rang'] = m_top30_14['rang'].astype(int)

In [ ]:
m_top30_14.head(1)

In [ ]:
# Datentyp von Rang auf int setzen - sieht schöner aus 
w_top30_14['rang'] = w_top30_14['rang'].astype(int)

In [ ]:
w_top30_14.head(1)

## 2015

In [ ]:
g = 'https://www.offenesdatenportal.de/dataset/e5ff322f-a8b7-4dc7-b281-2d3d767983f9/resource/4da3d423-9aeb-4e6e-8dbc-926649089416/download/vornamen15.csv'
df_15 = pd.read_csv(g, sep=';')
df_15.head(2)

In [ ]:
df_15['jahr'] = 2015
# Top 30 der weiblichen Vornamen
w_top30_15 = df_15[(df_15['geschlecht'] == 'w')].head(30)
w_top30_15['rang'] = w_top30_15['anzahl'].rank(ascending=False, method='first')

# Top 30 der männlichen Vornamen
m_top30_15 = df_15[(df_15['geschlecht'] == 'm')].head(30)
m_top30_15['rang'] = m_top30_15['anzahl'].rank(ascending=False, method='first')

# Datentyp setzen 
m_top30_15['rang'] = m_top30_15['rang'].astype(int)
w_top30_15['rang'] = w_top30_15['rang'].astype(int)

## Alles zusammensetzen

In [ ]:
geschlechter = [maedchen, jungs, w_top30_14, m_top30_14, w_top30_15, m_top30_15]

In [ ]:
names = pd.concat(geschlechter, ignore_index=True)

In [ ]:
# stimmt die anzahl an zeilen?
names.shape

In [ ]:
# Ergebnis in CSV speichern
names.to_csv('names.csv')

## YES!

In [ ]:
from IPython.display import Image
from IPython.display import display
display(Image(url='../static/anna.gif'))

## Noch mehr Spaß mit Vornamen!

In [ ]:
sophie = names[names['vorname'] == 'Sophie']
marie = names[names['vorname'] == 'Marie']

In [ ]:
sophie

In [ ]:
output_notebook()

In [ ]:
from bokeh.plotting import figure, output_file, show

# prepare some data
y = sophie['anzahl']
x = sophie['jahr']

# output to static HTML file
output_notebook()

# create a new plot with a title and axis labels
p = figure(title="simple line example", x_axis_label='Jahr', y_axis_label='Anzahl')

# add a line renderer with legend and line thickness
p.line(x, y, legend="Anzahl Name Sophie", line_width=2)

# show the results
show(p)

In [ ]:
sophie_marie = names[(names['vorname'] == 'Sophie') | (names['vorname'] == 'Marie')]
sophie_marie.sort_values('vorname')

In [ ]:
name = input('Bitte gib deinen Namen ein: ')
Mein_Name = names[(names['vorname'] == name)]
Mein_Name

In [ ]:
sum_anzahl_top30 = names.pivot_table(values='anzahl', index='jahr', columns='geschlecht', aggfunc=sum)
sum_anzahl_top30

In [ ]:
sum_anzahl_top30.plot(title='Anzahl der Geburten nach Geschlecht und Jahr in den Top 30 Namen aus Moers')

In [ ]:
namen1 = names.pivot_table(values='anzahl', index='jahr', columns='vorname', aggfunc=sum)
namen1

In [ ]:
namen1.columns

In [ ]:
top_namen = namen1[['Marie', 'Alexander', 'Tom']]

In [ ]:
top_namen.plot(subplots=True, figsize=(12,10), grid=False, title='Anzahl Namensträger pro Jahr')