# Was ist Pandas?
Ein zusätzliches Daten-Analyse-Paket für Python. 
Pandas bringt zwei neue Datentypen für Python: 
1. Series
2. Data Frame

In [1]:
# Um ein Paket zu nutzen, muss man es zuerst importieren 
import pandas as pd
# 'as pd' ist eine Abkürzung, dann kann man später 'pd.funktion' schreiben, statt 'pandas.funktion'

In [3]:
# Und weil es so schön ist:
from IPython.display import Image
from IPython.display import display
display(Image(url='static/pandas.jpg'))

# -------------- PAUSE - 15 min.    -------------

In [4]:
##  Series

In [5]:
# Series anlegen - z.B. aus einer Liste 
some_numbers = [2, 5, 7, 3, 8]

series_1 = pd.Series(some_numbers)
series_1

0    2
1    5
2    7
3    3
4    8
dtype: int64

Series ist also eine Liste mit Index.

In [6]:
# Index festlegen
ind = ['a', 'b', 'c', 'd', 'foo']

series_2 = pd.Series(some_numbers, index=ind)
series_2

a      2
b      5
c      7
d      3
foo    8
dtype: int64

In [7]:
# Index rausholen
series_2.index

Index(['a', 'b', 'c', 'd', 'foo'], dtype='object')

In [8]:
# Series kann man auch aus einem Dictionary bauen und verschiedene Datentypen in die Liste packen. 
more_numbers = {'a': 9, 'b': 'eight', 'c': 7.5, 'd': 6}

series_3 = pd.Series(more_numbers)
series_3

a        9
b    eight
c      7.5
d        6
dtype: object

## Data Frame
Ein Data Frame ist eine Tabelle, mit Index und Header (Kopfzeile).

In [9]:
# Data Frame erzeugen, indem zwei Series verknüpft werden
brand_new_df = pd.DataFrame([series_2, series_3])
brand_new_df

   a      b    c  d  foo
0  2      5  7.0  3  8.0
1  9  eight  7.5  6  NaN

In [10]:
# Verschiedene Datentypen
brand_new_df.dtypes

a        int64
b       object
c      float64
d        int64
foo    float64
dtype: object

In [11]:
# Data Frame aus einem Dictionary erzeugen
stadt_land_fluss = {
    'Stadt': ['Washington','Zürich', 'York', ], 
    'Land': ['Wales', 'Zimbabwe', 'Yemen'], 
    'Fluss': ['Wupper', '', 'Yangtse'] }

df = pd.DataFrame(stadt_land_fluss)
df

     Fluss      Land       Stadt
0   Wupper     Wales  Washington
1           Zimbabwe      Zürich
2  Yangtse     Yemen        York

In [12]:
ind1 = ['w', 'z', 'y']
df1 = pd.DataFrame(stadt_land_fluss, index=ind1)
df1

     Fluss      Land       Stadt
w   Wupper     Wales  Washington
z           Zimbabwe      Zürich
y  Yangtse     Yemen        York

In [13]:
df2 = df1[['Stadt', 'Land', 'Fluss']]
df2

        Stadt      Land    Fluss
w  Washington     Wales   Wupper
z      Zürich  Zimbabwe
y        York     Yemen  Yangtse

In [14]:
df2.columns

Index(['Stadt', 'Land', 'Fluss'], dtype='object')

In [15]:
df2.index

Index(['w', 'z', 'y'], dtype='object')

In [18]:
# Spalten auswählen
df['Fluss']

0     Wupper
1
2    Yangtse
Name: Fluss, dtype: object

In [19]:
# Geht auch über Name - Obacht: Sonderzeichen 
df.Fluss

0     Wupper
1
2    Yangtse
Name: Fluss, dtype: object

In [20]:
# Neuen Frame erzeugen, der nur bestimmte Spalten enthält
df3 = df1[['Stadt']]
df3

        Stadt
w  Washington
z      Zürich
y        York

In [21]:
# Zeilen auswählen, 
df[1:2]

  Fluss      Land   Stadt
1        Zimbabwe  Zürich

In [22]:
# Einzelne Werte auswählen 
df.loc[2,'Land']

'Yemen'

# Let's get some Data

## Go to the [Vornamen15](vornamen/vornamen15.ipynb) notebook!