# Was ist Pandas?

## Series

In [1]:
# Series anlegen - z.B. aus einer Liste 
import pandas as pd

some_numbers = [2, 5, 7, 3, 8]

series_1 = pd.Series(some_numbers)
series_1

0    2
1    5
2    7
3    3
4    8
dtype: int64

In [2]:
# Index festlegen
ind = ['a', 'b', 'c', 'd', 'e']

series_2 = pd.Series(some_numbers, index=ind)
series_2

a    2
b    5
c    7
d    3
e    8
dtype: int64

In [3]:
# Index rausholen
series_2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [11]:
# Series kann man auch aus einem Dictionary bauen
more_numbers = {'a': 9, 'b': 'eight', 'c': 7.5, 'd': 6}

series_3 = pd.Series(more_numbers)
series_3

a        9
b    eight
c      7.5
d        6
dtype: object

## Data Frame

In [5]:
# Data Frame erzeugen, indem zwei Series verkn√ºpft werden
combine_series = pd.DataFrame([series_2, series_3])
combine_series

   a      b    c  d    e
0  2      5  7.0  3  8.0
1  9  eight  7.5  6  NaN

In [6]:
# Verschiedene Datentypen
combine_series.dtypes

a      int64
b     object
c    float64
d      int64
e    float64
dtype: object

In [12]:
# Data Frame aus einem Diczionary erzeugen
data = {'col1': ['i', 'love', 'pandas', 'so', 'much'],
        'col2': ['so', 'will', 'you', 'i', 'promise']}

df = pd.DataFrame(data)
df

     col1     col2
0       i       so
1    love     will
2  pandas      you
3      so        i
4    much  promise